[submodule "code/lib/bidspm"]
	path = code/lib/bidspm
	url = git@gin.g-node.org:/JacMatu/deafCat_pilots-raw.git
[submodule "outputs/derivatives"]
	path = outputs/derivatives
	url = ./outputs/derivatives
	datalad-id = 14626f7e-6799-432b-b4b3-3075e6983aee
